* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #37302f;
    --primary-dark: #241f1f;
    --secondary: #fdfcfc;
    --gray: #b9aeac;
    --accent: #48ff9e;
    --destructive: #ff5947;
    color-scheme: dark;
    font-size: min(16px, max(12px, 2vw));
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn {
    border: none;
    background-color: var(--primary-dark);
    color: var(--secondary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn:hover {
    outline: 2px solid var(--gray);
}
